.features-carousel-card {
  height: 450px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.featured-carousel-card-img-container {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.featured-carousel-card-img {
  height: 250px;
  width: 250px;
  background-color: #56778f;
}

.featured-carousel-card-content-container {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}
.feature-curosal-arrow-button {
  display: flex;
  text-align: right;
  justify-content: right;
}
.feature-curosal-arrow-right {
  background-color: #fff;
  border: none;
  outline: none;
}
.feature-curosal-arrow {
  color: #fff;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #39cb74;
}
.product-curosal-heading {
  text-align: center !important;
  font-size: 35px;
  color: #184363;
}

.basic-card-link {
  text-decoration: none;
  color: #184363;
}
