.login-page-main-container {
  display: flex;
  justify-content: center;

  width: 100%;
}
.login-page-container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 20px;
  height: 400px;
}
.login-page-heading {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}

.login-page-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.login-page-label {
  font-size: 13px;
  color: #56778f;
}
.login-page-input {
  height: 40px;
  background-color: #edf4f6;
  border-radius: 5px;
  border: none;
  width: 250px;
}
.login-page-checkbox-container {
  display: flex;
  justify-content: flex-start;
  width: 20%;
  gap: 5px;
}
.login-page-checkbox {
  width: 10px;
  height: 10px;
}
.login-page-text {
  color: #56778f;
  font-size: 14px;
  margin-bottom: 5px;
}
.login-page-button {
  background-color: #f2971f;
  color: #fff;
  border-radius: 10px;
  width: max-content;
  padding: 8px 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.login-page-text1 {
  cursor: pointer;
}

.login-page-dont-have-an-account {
  font-size: 14px;
  font-weight: 600;
  color: #183c6d;
  margin: 0px;
  cursor: pointer;
}

@media (max-width: 797px) {
  .login-page-main-container {
    flex-direction: column;
  }
  .login-page-container1 {
    width: 100%;
  }
}
