.slider {
    height: 10px;
    width: 250px;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.slider .thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #007bff;
    cursor: grab;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.slider .thumb.active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.slider-inputfeilds-container{
    width: 100%;
}

.slider-input{
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    object-fit: cover;
}