@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "PT Sans";
}
