.sidebar-main-container {
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background-color: white;
  color: black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.sidebar-close-icon {
  position: absolute;
  left: 104%;
  bottom: 53%;
  height: 30px;
  width: 30px;
}

.sidebar-menu-bar {
  display: flex;
  margin-top: 10%;
  font-weight: bold;
  padding-left: 11px;
  list-style-type: none;
  justify-content: space-around;
}

.sidebar-menu-items {
  width: 48%;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background-color: #edf4f6;
  color: #184363;
}

.sidebar-menu-items-active {
  background-color: #15a9e3;
  color: white;
}

.menu-list-items-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11%;
}

.menu-list-items-li p {
  margin: 0;
}

.menu-ul-list {
  font-size: 16px;
  padding: 0% 8% 0% 6%;
  font-weight: bold;
}
